body {
    line-height: 1.5em;
    background-color: black;
    color: white;
    font-family: 'Noto Serif JP', sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding: 15px;
    /* width: 85%; */
    margin: auto;
    background-color: gold;
}

/* .container {
    width: 85%;
} */
.score {
    display: inline;
}

.instruct-box {
    background-color: cornsilk;
    color: black;
    padding: 15px;
}

.stats {
    border: medium solid white;
    padding: 15px;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
}

.target-num {
    text-align: center;
    /* color: gold; */
    /* text-decoration: underline; */
    /* border: medium double white; */
     /* background-color:  */
    font-size: 2em;
    line-height: 1.5em; 
}

.score {
    /* text-decoration: underline; */
}

.win, .lose {
    display: inline;
}

.crystal {
    width: auto;
    height: auto;
    max-width: 100%;
    /* min-width: 100%; */
    /* max-height: 100%; */
    border: 3px solid white;
    border-radius: 100%;
}

.crystal:hover {
    opacity: .75;
    /* border-width: 6px; */
    /* border-color: yellow; */
}

.crystal:active {
    border-color: mintcream;
    border-width: 6px;
    /* border-width: 3px; */
}

.crystal:focus {
    border-width: 3px;
}