body {
    line-height: 1.5em;
    background-color: black;
    color: white;
    font-family: 'Noto Serif JP', sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: auto;
    background-color: gold;
}

.score {
    display: inline;
}

.instruct-box {
    background-color: cornsilk;
    color: black;
    padding: 15px;
}

.stats {
    border: medium solid white;
    padding: 15px;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
}

.target-num {
    text-align: center;
    font-size: 2em;
    line-height: 1.5em; 
}

.win, .lose {
    display: inline;
}

.crystal {
    width: auto;
    height: auto;
    max-width: 100%;
    border: 3px solid white;
    border-radius: 100%;
}

.crystal:hover {
    opacity: .75;
}

.crystal:active {
    border-color: mintcream;
    border-width: 6px;
}

.crystal:focus {
    border-width: 3px;
}